#hero {
    width: 100%;
    max-width: 800px;
    overflow-x:hidden;
}
#hero img {
    width: 100%;
    height: auto;
    z-index: -10;
    position: absolute;
}

#hero .title {
    font-size: 60px;
    font-weight: 800;
    max-width: 200px;
    position: absolute;
    color:white ;
    top: 100px;
    left: 100px;
}

#hero_btn {
    position:absolute;
    left: 100px;
    top: 380px;
    z-index: 100;

}

#hero {
    position: relative;
    text-align: center;
    color: white;
  }
  
  #hero img {
    width: 100%;
    height: auto;
  }
  
  .hero.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero.btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }





